*{
box-sizing: border-box;

}
body{
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
}
body.dark{
    background-color:#06011357;
}
.checkbox{
    opacity: 0;
    position: absolute;
}

label{
    display: flex;
    width: 50px;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 26px;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #111;
}
.ball{
    background-color: #fff;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    width: 22px;
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
    background-color: purple;
}
.fa-moon{ 
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}
.myform{
    background-color: seagreen;
}
.container{
    padding: 5px;
    
}